<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/first.css') }}">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <h1>API OpenWeather App</h1>
            <h2>Sign Up <a href="{{ url_for('signup') }}">Here</a></h2>
            <h2>Login <a href="{{ url_for('login') }}">Here</a></h2>
            <p>By Nuutti Nyyssönen</p>
        </div>
    </section>
</body>
</html>